.master-container-salon {
  width: 100%;
  background-size: cover;
  /* height: 100vh; */
}
.white-bg23::-webkit-scrollbar {
  width: 0px;
}

.dropdown-item-salon23,
.dropdown-item-salon23,
.name234,
.sub-button23,
.heading234,
.heading234,
.small-cards2,
.all-small-cards2345,
.small-cards23,
.small-cards234,
.small-cards2345,
.button-indicators23 {
  font-family: "Poppins";
}
.heading234 {
  font-size: 18px;
}
.second-container23 {
  margin-top: 50px;
}
.setting {
  /* margin-left: 30%; */
}
.Inventory {
  height: 7vh;
  width: 6vw;

  background-color: none;
  margin-top: 3%;
}
.Inventoryd {
  height: 6vh;
  width: 5vw;
  /* margin-left: 25%;
  margin-top: 6px; */
  background-color: none;
  /* margin-top: -10%; */
}
.calenadr {
  height: 4vh;
  width: 3vw;
}
.amounts {
  /* width: 137px; */
  font-size: 15px;
  font-family: "poppins";
  font-weight: 600;
  margin-bottom: 0px;
}
.dashboard-salon23 {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  flex-wrap: wrap;
}

.dashboard-salon2390 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.settings {
  margin-left: 55%;
}

.fixed-container678 {
  position: sticky;
  top: 0;
  /* width: 99vw; */
  background-color: navy;
  z-index: 99;
  /* margin-bottom: 20px; */
}
.matrical-logo {
  height: 65px;
  width: 100px;
  margin: 10px 0px 0px 10px;
}
.logo-button23 {
  /* text-align: right; */
  font-size: 16px;
  color: white;
  /* padding-left: 80%;
padding-top: 13px; */
}
.logostyle23 {
  /* font-size: 28px;

 margin-right: 1%;


cursor: pointer; */
}
.profile {
  height: 50px;
  width: 50px;
  margin-top: -65px;
  margin-left: 10px;
}
.logo-sizing23 {
  font-size: 25px;
  color: white;

  height: 35px;
  width: 35px;
}

.logo-salon {
  padding-top: 5px;
  height: 45px;
}
.logo-sizing23:hover {
  color: rgb(247, 250, 247);
  /* font-size: large; */
  transform: scale(1.1);
}
.logostyle23:hover {
  border-color: gold;
  /* background-color: white; */
  transform: scale(1);
}
.info-about-salon {
  background-color: rgb(8, 49, 119);
  text-align: left;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 35px;
  padding: 1px;
  margin-top: 0px;

  width: 100vw;
  top: 0;
  z-index: 999;
}
.dashboard-button-salon23 {
  /* padding: 10px;  */
  /* margin-right: 23px; */
  width: 120px;
  height: 65px;
  background-color: white;
  color: #150b0b;
  /* margin-left: 5px; */
  align-items: center;
  box-shadow: 2px 2px 4px 0 blue;
  /* margin-left: 1px !important; */
  /* margin-bottom: 10px; */
  cursor: pointer;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border-color: #0f0ca8 !important;
}
.dashboard-button-salon23:hover {
  background: rgb(12, 3, 190);
  background: linear-gradient(
    300deg,
    rgb(16, 5, 229) 0%,
    rgb(17, 17, 235) 0%,
    rgba(0, 212, 255, 1) 30%
  );
  transform: scale(1.2);
  color: white;
}

.icon-center23 {
  text-align: center;
  width: 100%;
  font-size: 20px;
}
.name234 {
  width: 100%;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-indicators23 {
  background-color: #3390f3;
  color: white;
  padding: 4px;
  font-family: "poppins";
  /* height: 36px; */
  text-align: left;

  padding-left: 33px;
  font-size: 18px;
  box-shadow: #150b0b;
  border-bottom: 2px solid rgb(69, 67, 67);
  /* position: fixed; */
}

.dashboard-button:hover {
  background-color: #0056b3;
}

.sub-button23 {
  color: white;
  background-color: blue;
  font-size: 14px;
  margin-left: 1.5%;
  /* border: 1px solid black; */
  border: none;
  border-radius: 3px;
  padding: 4px;
}
.sub-button23:hover {
  background-color: blue;
  cursor: pointer;
}

.welcome23 {
  font-size: 30px;
  text-align: center;
  font-family: system-ui;
  /* padding: 8px; */
  font-family: sans-serif;
  color: white;
  margin-left: 50%;
}
.heading234 {
  padding: 8px;
  background-color: #f0ecec;
  box-shadow: 0px 0px 0px 1px bisque;
  color: black;
  font-size: 0.9rem;
  margin-top: 0px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

  border: 1px solid #ccc;
}

.cards-container23 {
  width: 92%;
  margin-left: 5%;
  text-align: left;
  margin-bottom: 1%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 6px 5px 6px #ccc;
}

.white-bg23 {
  background-color: white;
  padding-top: 1%;

  height: 100%;
}

.amount-fetch23 {
  text-align: right;
  /* padding-top: -10%; */
  margin-top: -1.5rem;
  font-size: large;
  margin-right: 90%;
}
.icon997 {
}
.amount-fetch234 {
  /* padding-left: 7px;
  
  margin-top: -0.95rem; */
  font-size: large;
  margin-bottom: 0px;
}
.icon-center234 {
  font-size: 25px;
  /* margin-bottom: -78px; */
}
/* Add media query for smaller screens */
/* Add media query for smaller screens */

.all-small-cards2345 {
  width: 25%;
  height: 70px;
  padding: 10px;
  margin: 1%;
  color: white;
  display: flex;
  flex-direction: row;
  background-color: rgb(213, 8, 8);
  transition: all 0.3s ease; /* Apply transition to all properties */
}

.all-small-cards2345:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ff0000; /* Change the background color on hover */
  transform: scale(1.05); /* Add a scaling effect on hover */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.all-small-cards2345 {
  width: 25%;
  height: 70px;
  padding: 10px;
  margin: 1%;
  color: white;
  display: flex;
  flex-direction: row;
}

.all-small-cards19 {
  width: 25%;
  height: 70px;
  padding: 10px;
  margin: 1%;
  background-color: #0f0ca8;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
}
.karthik {
  height: 10px;
  width: 10px;
}
.all-small-cards23456 {
  /* width: 22.5%;
  height: 13vh; */
  padding: 10px;
  width: 100%;
  background: linear-gradient(rgba(81, 108, 250, 1), rgba(11, 28, 171, 1));
  border-radius: 10px;
  color: white;
  /* display: flex; */
  box-shadow: 0px 0px 2px rgb(0, 0, 0.4);
  flex-direction: row;
}
/* .all-small-cards23456:hover{
       background: rgb(12, 3, 190);
        background: linear-gradient(300deg, rgb(16, 5, 229) 0%, rgb(17, 17, 235) 0%, rgba(0,212,255,1) 70%);
        transform: scale(1.1);
        color: white;
    } */
.small-cards2 {
  background-color: rgb(64, 153, 241);
}
.mii {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.two-container90 {
  width: 50%;
  display: flex;
  gap: 13px;
}
.divideimage {
  display: flex;
  gap: 35px;
}
.small-cards23 {
  /* background-color:#daa520;
background-color:rgb(131, 118, 87); */
  /* background-color:#4406ef;
}
.small-cards234{
background-color: rgb(7, 202, 236);

}
.small-cards2345{
background-color: rgb(173, 90, 90);

} 
.flextochange789{
  display: flex;
  margin-bottom: -13px;
  justify-content: space-between;
}

.cards-flex23{
display: flex;
}

.dropdown-menu-salon23 {
position:absolute;
/* top: 9%; */
  margin-left: -35px;
  color: white;
  backdrop-filter: blur(10px);
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: fixed;
}
.logostyle23:hover .dropdown-menu-salon23 {
  display: block;
}
.cards-flex23 {
  padding: 15px;
  display: flex;
  gap: 10px;
}

.dropdown-item-salon23 {
  padding: 5px;
  cursor: pointer;
  font-size: small;
  transition: background-color 0.3s ease;
}

.dropdown-item-salon23:hover {
  background-color: #0f0ca8;
  color: rgb(255, 255, 255);
  /* border-width: 0px; */
}
.log-out23 {
  text-decoration: none;
  color: white;
}

/* .logostyle23 {
  position: relative;
  display: inline-block;
} */

.logostyle23:hover .tooltip-dropdown {
  display: block;
}

.tooltip-dropdown {
  width: 90px;
  display: none;
  position: absolute;
  margin-top: 3px;
  top: 10;
  left: 0;
  transform: translateX(-60%);
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: #150b0b;
  border: solid 1px white;
  border-radius: 4px;
  z-index: 99;
}

@media only screen and (min-width: 320px) and (max-width: 376px) {
  .logostyle23 {
    font-size: 10px;

    margin-right: 2%;
    margin-top: 6px;

    cursor: pointer;
    /* height: 15px; */
    position: relative;
    display: inline-block;
  }
  .setting {
    display: none;
    margin-left: 30%;
  }
  .welcome23 {
    font-size: 17px;
    text-align: left;
    padding: 1px;
    font-family: sans-serif;
  }

  .dashboard-salon23 {
    flex-direction: row;
    justify-content: space-between;
  }

  .dashboard-button-salon23 {
    width: 10%;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
  }
  .button-indicators23 {
    font-size: 10px;
  }

  .icon-center23 {
    font-size: 18px;
  }

  .button-indicators23 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .sub-button23 {
    margin-left: 5px;
  }

  .heading234 {
    font-size: 8px;
  }

  .cards-container23 {
    width: 100%;
    margin-left: 0%;
  }

  .white-bg23 {
    padding-top: 10px;
    padding-bottom: 68px;
  }

  .amount-fetch23 {
    text-align: left;
  }

  .icon-center234 {
    font-size: 20px;
  }

  .all-small-cards2345 {
    width: 48%;
    font-size: 8px;
  }
  .name234 {
    width: 100%;

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .all-small-cards23456 {
    /* width: 152px !important;
    height: 15vh; */

    padding: 10px;

    background: linear-gradient(rgba(81, 108, 250, 1), rgba(11, 28, 171, 1));
    border-radius: 10px;
    color: white;
    /* display: flex; */
    box-shadow: 0px 0px 2px rgb(0, 0, 0.4);
    flex-direction: row;
  }
  /* .amounts {
    text-wrap: wrap;
    font-size: small;
    font-family: "poppins";
    font-weight: 600;
    margin-bottom: 0px;
} */

  .all-small-cards2345 {
    width: 48%; /* Adjust the width as needed, leaving space for margins */
    font-size: 7px;
  }

  .dropdown-menu-salon23 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 377px) and (max-width: 426px) {
  .cards-container23 {
    width: 95%;
    margin-left: 2%;
  }
  .cards-container23 {
    width: 100%;
    margin-left: 0%;
    text-align: left;
    margin-bottom: 1%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 6px 5px 6px #ccc;
  }
}

/* Media query for screens with a width of 375px */
@media only screen and (max-width: 427px) {
  .logostyle23 {
    font-size: 10px;

    margin-right: 2%;

    cursor: pointer;

    position: relative;
    display: inline-block;
  }
  .setting {
    display: none;
    margin-left: 30%;
  }
  .cards-container23 {
    /* width: 100%;
    margin-left: 0%; */
    text-align: left;
    margin-bottom: 2%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 6px 5px 6px #ccc;
  }
  .fixed-container678 {
    width: 99vw;
    background-color: rgb(8, 49, 119);
    z-index: 99;
  }
  .info-about-salon {
    background-color: rgb(8, 49, 119);
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding: 1px;
    padding-top: 4%;
    margin-top: 0px;
    width: 100vw;
    top: 0;
    z-index: 999;
  }
  .form-group-saloon234-input {
    /* width: 55% !important; */
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
  }
  .profile-password {
    position: absolute;
    margin-left: 90% !important;
  }
  .lable-name-saloon234 {
    width: 105px !important;
    border: 0px;
    text-align: left !important;
    font-size: small;
    border-width: 0px;
    border-width: 2px;
    text-align: left;
    margin-right: 15px;
    margin-left: 5%;
  }
  .edit-profile-saloon234 {
    width: 100% !important;
    margin-left: 0% !important;
    margin-top: 0%;
    text-align: left;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 6px 5px 6px rgba(0, 0, 0, 0.1);
  }
  .roaylcalendermain2p-cal {
    background-color: white;
    padding: 20px;
    width: 100%;

    border: 1px solid #ccc;

    box-shadow: 6px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .welcome23 {
    font-size: 17px;
    text-align: left;
    padding: 1px;
    font-family: sans-serif;
  }

  .dashboard-salon23 {
    flex-direction: row;
    justify-content: space-between;
  }
  .master-container-salon {
    width: 100%;
    background-size: cover;
    /* margin-top: -57px; */
  }

  .dashboard-button-salon23 {
    width: 10% !important;
    margin-left: 0px !important;
    margin-right: 0;
    justify-content: space-between;
  }

  .button-indicators23 {
    font-size: 15px;
  }

  .icon-center23 {
    font-size: 18px;
  }

  .name234 {
    font-size: clamp(9px, 2.5vw, 13px);
  }

  .button-indicators23 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .sub-button23 {
    margin-left: 5px;
  }

  .heading234 {
    font-size: 8px;
  }

  /* .cards-container23 {
    width: 100%;
    margin-left: 0;
  } */

  .white-bg23 {
    padding-top: 10px;
    padding-bottom: 68px;
  }

  .amount-fetch23 {
    text-align: left;
  }

  .icon-center234 {
    font-size: 20px;
  }

  .all-small-cards2345 {
    width: 48%;
    font-size: 8px;
  }

  .all-small-cards2345 {
    width: 48%; /* Adjust the width as needed, leaving space for margins */
    font-size: 7px;
  }

  .dropdown-menu-salon23 {
    margin-left: 0;
  }
}

/* Media query for screens with a width of 425px */
@media only screen and (max-width: 430px) {
  .logostyle23 {
    font-size: 10px;

    margin-right: 0%;

    cursor: pointer;

    position: relative;
    display: inline-block;
  }
  .logo-sizing23 {
    font-size: 25px;
    color: white;
    height: 28px;
    width: 28px;
  }
  .setting {
    display: none;
    margin-left: 30%;
  }
  .dashboard-salon23 {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    background-color: rgb(8, 49, 119);
  }

  .welcome23 {
    font-size: 17px;
    text-align: left;
    padding: 1px;
    font-family: sans-serif;
  }

  .info-about-salon {
    background-color: rgb(8, 49, 119);
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 35px;
    padding: 1px;
    padding-top: 14px;
    margin-top: 0px;
    width: 100vw;
    top: 0;
    z-index: 999;
  }
  .dashboard-button-salon23 {
    width: 25% !important;
    flex-wrap: wrap;
    border-radius: 6px;
    height: 30px !important;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button-indicators23 {
    font-size: 10px;
  }

  .icon-center23 {
    font-size: 13px;
    display: none;
  }

  .button-indicators23 {
    padding-left: 8px;
    padding-right: 8px;
    font-size: small !important;
  }

  .sub-button23 {
    margin-left: 5px;
    font-size: x-small !important;
  }

  .heading234 {
    font-size: small;
  }

  .white-bg23 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mii {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .Inventory {
    height: 7vh;
    width: 10vw;
    margin-left: 0%;
    background-color: none;
    margin-top: 0%;
  }
  .Inventoryd {
    height: 6vh;
    width: 10vw;
    margin-left: 0%;
    margin-top: 0px;
    background-color: none;
    /* margin-top: -10%; */
  }
  .two-container90 {
    display: flex;
    gap: 5px;
    width: 100%;
  }
  .amount-fetch23 {
    text-align: left;
    padding-top: 12px;
  }
  .amount-fetch234 {
    padding-left: 7px;
    margin-top: 2px;
    font-size: small;
  }
  .fc-direction-ltr {
    direction: ltr;
    text-align: left;
    width: 100%;
  }
  .amounts {
    width: 100%;
    text-wrap: wrap;
    font-size: small;
    font-family: "poppins";
    font-weight: 600;
    margin-bottom: 0px;
  }
  .icon-center234 {
    font-size: medium;
  }

  .all-small-cards2345 {
    width: 48%;
    font-size: 8px;
  }

  .flextochange789 {
    margin-bottom: -5px;
  }

  .cards-flex23 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    gap: 5px;
    /* flex-wrap: wrap; */
    margin-left: 0px;
    width: 100%;
  }

  .all-small-cards2345 {
    width: 48%; /* Adjust the width as needed, leaving space for margins */
    font-size: x-small;
  }
  .all-small-cards23456 {
    /* width: 22.5%;
    height: 13vh; */
    padding: 10px;
    width: 100%;
    background: linear-gradient(rgba(81, 108, 250, 1), rgba(11, 28, 171, 1));
    border-radius: 10px;
    color: white;
    /* display: flex; */
    box-shadow: 0px 0px 2px rgb(0, 0, 0.4);
    flex-direction: row;
  }
  .divideimage {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  .dropdown-menu-salon23 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-sizing23 {
    margin-right: 2%;
    background-color: transparent;
    color: white;

    font-size: xx-large;
  }
  .logo-salon {
    padding-top: 5px;
    height: 35px;
  }
  .cards-container23 {
    width: 94%;
    margin-left: 3%;
    text-align: left;
    margin-bottom: 1%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 6px 5px 6px #ccc;
}
  .button-indicators23 {
    background-color: #3390f3;
    color: white;
    padding: 4px;

    text-align: left;
    padding-left: 12px;
    font-size: 16px;

    box-shadow: #150b0b;
    border-bottom: 2px solid rgb(69, 67, 67);
  }
  .sub-button23 {
    color: white;
    background-color: rgb(222, 90, 90);
    font-size: small;
    margin-left: 10px;
    border: 1px solid black;
    padding: 4px;
  }

  .icon-center23 {
    text-align: center;
    width: 100%;
    font-size: 14px;
    /* display: none; */
  }
  .icon997 {
    height: 15px;
  }
  .two-container90 {
    width: 50%;
    display: flex;
    gap: 6px;
}
.mii {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.heading678 {
  background-color: #f0ecec;
  padding: 7px;
  font-weight: 500;
  margin-top: 0px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 6px #ccc;
  font-size: 0.9rem !important;
  font-family: "poppins";
}
.heading234 {
  padding: 8px;
  background-color: #f0ecec;
  box-shadow: 0px 0px 0px 1px bisque;
  color: black;
  font-size: 0.9rem;
  margin-top: 0px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
.divideimage {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}
.cards-flex23 {
  padding: 15px;
  display: flex;
  gap: 6px;
}
  .amounts {
    /* width: 137px; */
    font-size: 12px;
    font-family: "poppins";
    font-weight: 600;
    margin-bottom: 0px;
}
  .name234 {
    width: 100%;
    font-size: 11px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .dashboard-button-salon23 {
    padding: 11px;
    /* margin-right: 1px; */
    width: 92px;
    font-size: 10px;
    height: 50px;
    /* margin-left: 50px; */
    background-color: #dde7f0;
    color: #150b0b;
    /* margin-bottom: 1px; */
    cursor: pointer;
    /* margin-top: 5px !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tooltip-dropdown {
    width: 90px;
    display: none;
    position: absolute;
    top: 100%;

    transform: translateX(-60%);

    background-color: white;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    border: solid 1px white;
    border-radius: 4px;
    z-index: 99;
  }
}
