.edit-service-container-sk142sk {
  width: 100vw;
  /* margin-left: 8px; */
 
  
  border: 1px solid #ccc;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.labelchange567{
  width: 150px;
  text-align: right;
  margin: 10px;
}

.flextochange90{
  display: flex;
  margin: 5px;
}


.edit-service-heading-sk142sk {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 21px;
}


.label-sk142sk {
  /* font-weight: bold; */
}
.input-sk142sk {
  width: 35%;
  padding: 3px;
  /* margin-bottom: 20px; */
  border: 1px solid #ccc;
  border-radius: 3px;
}
.buttons567{
  display: flex;
  background-color: #f0ecec;
  justify-content: flex-end;
  margin: 6px;
  padding: 4px;
}


.save-button-sk142sk {
  padding: 6px;
  width: 60px;
  margin: 2px;
  /* margin-bottom: 10px; */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #17b852;
  color: #fff;
  /* font-weight: bold; */
  font-size: small;
  text-align: center;
 
}
.save-button-sk142sk:hover{
  background-color: #0c5f0a;
}
.delete-button-sk142sk{
  padding: 7px ;
  margin: 2px;
  width: 60px;
  /* margin-bottom: 10px; */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ff5555;
  color: #fff;
  font-size: small;
  font-family: 'poppins';
  font-weight: 300;
}
.delete-button-sk142sk:hover{
  background-color: #cc0000;
}
.delete-buttonss{
  padding: 6px ;
  margin: 2px;
  width: 60px;
  /* margin-bottom: 10px; */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ff5555;
  color: #fff;
  /* font-family: 'poppins'; */
  font-size: 15px;
  font-weight: 300;
  font-family: 'poppins';
}
.delete-buttonss:hover{
  background-color: #cc0000;
}

@media screen and (max-width:480px) {
  .edit-service-container-sk142sk {
    width: 100vw;
    /* margin-left: 8px; */
   
    
    border: 1px solid #ccc;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .labelchange567{
    width: 99px;
    text-align:left !important;
    margin: 0px !important;
    font-size: small;
    font-weight: normal;
    margin-left: 7px;
  }
  
  .flextochange90{
    display: flex;
    /* margin: 10px; */
  }
  
  
  .edit-service-heading-sk142sk {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 21px;
  }
  
  
  .label-sk142sk {
    font-weight: normal !important;
  }
  .input-sk142sk {
    width: 65%;
    padding: 3px;
    height: 30px;
    font-size: small;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .buttons567{
    display: flex;
    background-color: #f0ecec;
    justify-content: flex-end;
    margin: 6px;
    padding: 4px;
  }
  
  
  .save-button-sk142sk {
    padding: 6px;
    width: 60px;
    margin: 2px;
    /* margin-bottom: 10px; */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #17b852;
    color: #fff;
    /* font-weight: bold; */
    font-size: small;
    text-align: center;
   
  }
  .save-button-sk142sk:hover{
    background-color: #0c5f0a;
  }
  .delete-button-sk142sk{
    padding: 5px ;
    margin: 2px;
    width: 60px;
    /* margin-bottom: 10px; */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #ff5555;
    color: #fff;
    font-size: small;
  }
  .delete-button-sk142sk:hover{
    background-color: #cc0000;
  }
  
}
@media (max-width: 768px) {
  
  .edit-service-container-sk142sk {
    max-width: 100%;
    /* padding: 10px; */
  }

  .edit-service-heading-sk142sk {
    font-size: 1.2rem;
  }

 
}