body{
    background-color: whitesmoke;
}
.A7custmaindiv89{
        width: 90%;
        margin-left: 5%;
        border: 1px solid #ccc;
        background-color: white;
        margin-top: 1%;
        box-shadow: 6px 5px 6px #ccc;
}
.A7custheader23{
    /* margin-top: 30px; */
    background-color: #f0ecec;
    font-size: 20px;
    margin-top: 0px;
    border: 1px solid #ccc;
    margin-top: 0px;
    padding: 7px;
   
}
.A7custform-msg89{
    /* padding: 20px; */
background-color: white;
box-shadow: 6px 5px 6px #ccc;
    border: 1px solid #ccc; 
}
.sapce000{
    padding: 10px;
}
.A7sbmtbtn{
    background-color: rgb(25, 152, 25);
    border-radius: 3px;
    font-size: small;
    border: none;
    /* height: 30px; */
    width: 130px;
    padding: 6px;
    color: white;
    margin-left: 6%;
    
}
.A7msglbl{
    margin-left: 11.5%;
    /* width: 22%; */
    text-align: right;
    font-size: 1rem;
    font-weight: normal;
    padding-top: 15px;
    display: flex;
}
.A7txtar{
    /* margin-left: 500px; */
    width: 34%;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.A7cntr{
   padding-left: 31%;
    
    
    margin: 10px;
}
.A7cntr1{
    background-color: #f0ecec;
    display: flex;
    justify-content: flex-end;
    padding: 6px;
}
.A7sendSmsbtn{
    font-size: small;
    background-color: #19c013;
    border-radius: 2px;
    border: none;
padding: 6px ;
width: 70px;
    color: white;
    

}
.A7clr{
    margin-left: 5px;
    color: white;
    background-color: rgb(241, 73, 51);
    border-radius: 2px;
    border: none;
    padding: 6px ;
    width: 70px;
    font-size: small;

}
.flex0055{
    display: flex;
    margin-top: 11px;
}
.space639{
    padding: 10px;
}
.A7sendAllbtn{
   width: 200px;
   text-align: end;

}
.flex3399{
    display: flex;
    margin-top: 11px;
}
.A7drpdwn45{
    margin-left: 20px;
    width: 30%;
    height: 35px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.A7txtar-bulk{
    margin-left: 20px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.A7cntr-bulk35{
    margin: 10px;
    margin-left: 32%;
    
}
.A7cntrl-bulk{
    background-color: #f0ecec;
    display: flex;
    justify-content: flex-end;
    padding: 6px;
}
.A7phNoIp{
    margin-top: 15px;
    margin-left: 200px;
    height: 25px;
    width: 228px;
}
@media only screen and (max-width: 768px) {
.A7txtar {
    /* margin-left: 500px; */
    width: 60%;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
}
@media screen and (max-width:420px) {

    body{
        background-color: whitesmoke;
    }
    .A7custmaindiv89{
            width: 100%;
            margin-left: 0%;
            border: 1px solid #ccc;
            background-color: white;
            margin-top: 1%;
            box-shadow: 6px 5px 6px #ccc;
    }
    .A7custheader23{
        /* margin-top: 30px; */
        background-color: #f0ecec;
        font-size: 1rem;
        margin-top: 0px;
        border: 1px solid #ccc;
        margin-top: 0px;
        padding: 7px;
       
    }
    .A7custform-msg89{
        /* padding: 20px; */
    background-color: white;
    box-shadow: 6px 5px 6px #ccc;
        border: 1px solid #ccc; 
    }
    .sapce000{
        padding: 10px;
    }
    .A7sbmtbtn{
        background-color: rgb(25, 152, 25);
        border-radius: 3px;
        font-size: small;
        border: none;
        /* height: 30px; */
        width: 130px;
        padding: 6px;
        color: white;
        margin-left: 0% !important;
        
    }
    .A7msglbl{
        margin-left: 0% !important;
        /* width: 22%; */
        text-align: left !important;
        font-size: small;
        font-weight: normal;
        padding-top: 15px;
        display: flex;
    }
    .A7txtar{
        /* margin-left: 500px; */
        width: 75% !important;
        margin-left: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .A7cntr{
       padding-left: 31%;
        
        
        margin: 10px;
    }
    .A7cntr1{
        background-color: #f0ecec;
        display: flex;
        justify-content: flex-end;
        padding: 6px;
    }
    .A7sendSmsbtn{
        font-size: small;
        background-color: #19c013;
        border-radius: 2px;
        border: none;
    padding: 6px ;
    width: 70px;
        color: white;
        
    
    }
    .A7clr{
        margin-left: 5px;
        color: white;
        background-color: rgb(241, 73, 51);
        border-radius: 2px;
        border: none;
        padding: 6px ;
        width: 70px;
        font-size: small;
    
    }
    .flex0055{
        display: flex;
        margin-top: 11px;
    }
    .space639{
        padding: 10px;
    }
    .A7sendAllbtn{
       width: 90px !important;
       text-align: start !important;
    
    }
    .flex3399{
        display: flex;
        margin-top: 11px;
    }
    .A7drpdwn45{
        margin-left: 20px;
        width: 70% !important;
        height: 35px;
        padding: 3px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .A7txtar-bulk{
        margin-left: 20px;
        width: 70%;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .A7cntr-bulk35{
        margin: 10px;
        margin-left: 32%;
        
    }
    .A7cntrl-bulk{
        background-color: #f0ecec;
        display: flex;
        justify-content: flex-end;
        padding: 6px;
    }
    .A7phNoIp{
        margin-top: 15px;
        margin-left: 200px;
        height: 25px;
        width: 228px;
    }
}