.pp-form13 {
  width: 92%;
  margin-left: 4%;
  
  /* padding-bottom: 2%; */
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0px 0px 9px #ccc;
}
.pp-heading13 {
  background-color: #f0ecec;
  border: 1px solid #ccc;
  padding: 7px;
  font-size: 1rem;
}
.pp-formgroup13 {
  display: flex;
  padding: 10px 0px;
}
.pp-label13 {
  text-align: right;

  /* margin-top: 10px; */
  width: 180px;
  margin-right: 12px;
  font-size: 16px;
}

.pp-input13 {
  outline: none;
  width: 260px;
  /* margin-right: 3px; */
  border: 1px solid #ccc;
  font-size: 0.9rem;
  padding: 6px;
  border-radius: 3px;
  margin-right: 3px;
  margin-bottom: 0px;
}
.pp-input1345 {
  outline: none;
  width: 160px;
  border: 1px solid #ccc;
  font-size: small;
  padding: 6px;
  border-radius: 3px;
  margin-right: 3px;
}
.pp-input1310 {
    outline: none;
    width: 200px;
    margin-right: 3px;
    border: 1px solid #ccc;
    font-size: small;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 0px;
  }
.pp-input131 {
  outline: none;
  width: 200px;
  font-family: "poppins";
  font-weight: 300;
  margin-right: 3px;
  border: 1px solid #ccc;
  font-size: small;
  border-radius: 3px;
  padding: 6px;
  margin-bottom: 0px;
}
.td43{
  display: flex;
}
.space185 {
  margin-bottom: 0px;
}
.pp-input131010 {
    outline: none;
    width: 100px;
    margin-right: 3px;
    border: 1px solid #ccc;
    font-size: small;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 0px;
  }
.delete-btn156 {
  border: none;
    margin-bottom: 0px;
    background-color: rgb(235, 77, 77);
    border-radius: 3px;
    color: white;
    width: 60px;
    height: 31px;
    font-size: 0.9rem;
    padding: 2px;
}
.pp-btns13 {
  cursor: pointer;
  background-color: dodgerblue;
  color: #fff;
  border: none;
  padding: 5px 20px;
  border-radius: 4px;
}
.pp-btn-div13 {
  display: flex;
  justify-content: flex-end;
  background-color: #ccc;
  padding: 5px;
  margin: 9px;
  margin-top: 20px;
}
.pp-entering1301 {
    margin-left: 7% !important;
  }
.pp-entering13 {
  margin-left: 7% !important;
}
.ppe-th {
  text-align: left;
  font-family: "poppins";
  font-weight: 300;
  font-size: 0.9rem;
}
.add-row-btn {
  margin-left: 7%;
  margin-top: 7px;
  width: 80px;
  background-color: #19c013;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: small;
  font-family: "poppins";
  font-weight: 300;
}
.add-row-btn90 {
  margin-left: 0% !important;
  
}
.ch564 {
}
@media only screen and (min-width: 320px) and (max-width: 426px) {
  .pp-form13 {
    margin-left: 0% !important;
    width: 100% !important;
  }
  .pp-heading13 {
    background-color: #f0ecec;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: small !important;
  }
  .pp-label13 {
    width: 105px !important;
    text-align: left;
    font-size: small;
    padding-left: 5px;
  }
  .ch564 {
    width: 60%;
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .pp-input1345 {
    outline: none;
    width: 50%;
    border: 1px solid #ccc;
    font-size: small;
    padding: 4px;
    border-radius: 3px;
    margin-right: 3px;
  }
  .pp-formgroup13 {
    display: flex;
    padding: 5px 0px;
}
  .pp-input13 {
    outline: none;
    width: 100%;
    /* margin-right: 3px; */
    border: 1px solid #ccc;
    font-size: small;
    padding: 5px;
    border-radius: 3px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .pp-input1310 {
    outline: none;
    width: 150px;
    margin-right: 3px;
    border: 1px solid #ccc;
    font-size: small;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 6px;
  }
  .pp-input131010 {
    outline: none;
    width: 50px;
    margin-right: 3px;
    border: 1px solid #ccc;
    font-size: small;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 6px;
  }
  .delete-btn156 {
    border: none;
    margin-bottom: 6px;
    background-color: rgb(235, 77, 77);
    border-radius: 3px;
    color: white;
    width: 55px;
    font-size: small;
    padding: 5px;
  }
  
  .add-row-btn {
    padding: 5px;
    /* margin-top: 10px; */
    width: 70px;
    background-color: #19c013;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    padding: 6px;
    margin: 4px;
    margin-left: 2%;
    border: none;
    font-size: small;
  }
  .pp-btns13 {
    cursor: pointer;
    background-color: #19c013;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 60px;
    font-size: medium;
  }
  .pp-entering1301 {
    margin-left: 2% !important;
}
  .pp-entering13 {
    margin-left: 2% !important;
}
  .pbtn1234m {
    background-color: #19c013;
    color: white;
    border: none;
    width: 62px;
    height: 28px;
    /* padding: 3px; */
    margin-left: 0px;
    border-radius: 3px;
    font-size: x-small;
  }
  .ppe-th {
    text-align: left;
    font-family: "poppins";
    font-weight: 300;
    font-size: small;
}
.pp-input131 {
    outline: none;
    width: 140px;
    font-family: "poppins";
    font-weight: 300;
    margin-right: 3px;
    border: 1px solid #ccc;
    font-size: small;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 0px;
}
}

@media only screen and (max-width: 768px) and (max-width: 1024px) {
 
    .ppe-th {
        text-align: left;
        font-family: "poppins";
        font-weight: 300;
        font-size: small;
    }
    
  .pp-input131010 {
    outline: none;
    width: 80px;
    margin-right: 3px;
    border: 1px solid #ccc;
    font-size: small;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 6px;
  }
  
}
